{% extends 'MainApp/base.html' %}
{% load static %}

{% block content %}

{% if cat_data %}

<h3 class="d-flex justify-content-center">Статистика</h3>
<div class="d-flex justify-content-center">
    <div class="row">

        <div class="col-sm px-2" style="text-align: center;">
            <a data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="{% static 'MainApp/img/filter_icon.png' %}" width="40" height="40">
            </a>
            <br>
            <p style="font-size: 15px;">Фильтр</p>
        </div>

    </div>
</div>

<!-- Добавляем фильтр -->
{% include "MainApp/filter.html" %}

<br>
<!-- <script src="https://www.google.com/jsapi"></script>
<script>
 google.load("visualization", "1", {packages:["corechart"]});
 google.setOnLoadCallback(drawChart);
 function drawChart() {
  var data = google.visualization.arrayToDataTable([
   ['Год', 'Россия', 'США'],
   ['Пон', 1.3, 70],
   ['Вт', 2000, 3120],
   ['Ср', 12170, 919200],
   ['Чт', 13000, 7000],
   ['Пт', 2000, 3120],
   ['Сб', 12170, 9920],
   ['Вс', 12170, 9920],
  ]);
  var options = {
   title: 'Добыча нефти',
   hAxis: {title: 'Год'},
   vAxis: {title: 'Тыс. тонн'}
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('oil'));
  chart.draw(data, options);
 }
</script>
<div id="oil" style="width: 500px; height: 400px;"></div> -->

<!-- Диаграмма -->
<script src="https://www.google.com/jsapi"></script>
{{ cat_data|json_script:"cat_data" }}
<script src="{% static 'MainApp/js/cat_chart.js' %}"></script>
<div class="container" id="cat_chart" style="width: 500px; height: 500px;"></div>
<hr>
<div class="container overflow-auto">
    <table class="table shadow table-striped">
        <thead class="bg-primary text-white">
            <tr>
                <th class="col-3" scope="col">Категория</th>
                <th class="col-3" scope="col">Сумма, ₽</th>
                <th id="amount_tr" class="col-3" scope="col">Процент, %</th>
            </tr>
        </thead>
        <tbody>
            
            {% for cat in cat_data %}
            <tr class="table-light" name="operation" id="{{ operation.id }}">
                <td>{{ cat.0 }}</td>
                
                <td>{{cat.1 }}</td>
    
                <td>{{cat.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    

{% else %}
<h1>Добавьте операции для просмотра статистики</h1>
{% endif %}
{% endblock content %}