{% extends 'MainApp/base.html' %}

{% block content %}
<h3 class="d-flex justify-content-center">Ваши операции</h3>
<a class="d-flex justify-content-center" href="{% url 'add_operation' %}">Добавить операцию</a>
<a class="d-flex justify-content-center" href="{% url 'export_data' %}">Экспорт</a>
<hr>

<!-- Добавляем фильтр -->
{% include "MainApp/filter.html" %}

<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Тип</th>
            <th scope="col">Категория</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата</th>
            <th scope="col">Изменить/Удалить</th>
        </tr>
    </thead>
    <tbody>
        {% for operation in filter.qs %}
        <tr> 
            {% if operation.category.type == 'Расход' %}
            <td style="color:red">{{operation.category.type }}</td>
            {% else %}
            <td style="color:green">{{operation.category.type }}</td>
            {% endif %}

            {% if operation.category %}
            <td>{{ operation.category.name }}</td> 
            {% else %}
            <td>Нет</td> 
            {% endif %}

            {% if operation.category.type == 'Расход' %}
            <td style="color:red">{{operation.amount }}</td>
            {% else %}
            <td style="color:green">{{operation.amount }}</td>
            {% endif %}
            
            <td>{{operation.date }}</td>

            <td>
            <a href="{% url 'edit_operation' operation.pk %}">Изменить</a>/<a href="{% url 'delete_operation' operation.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}