{% extends 'MainApp/base.html' %}

{% block content %}
<h3 class="d-flex justify-content-center">Ваши операции</h3>
<a class="d-flex justify-content-center" href="{% url 'add_operation' %}">Добавить операцию</a>
<a class="d-flex justify-content-center" href="{% url 'export_data' %}">Экспорт</a>
<hr>

<!-- Добавляем фильтр -->
{% include "MainApp/filter.html" %}

<hr>
{% for operation in filter.qs %}
    <div name="operation">
    {% if operation.category.type == 'Расход' %}
        <p class="d-flex justify-content-center">Сумма: -{{operation.amount }}</p>
    {% else %}
        <p class="d-flex justify-content-center">Сумма: {{operation.amount }}</p>
    {% endif %}
    <p class="d-flex justify-content-center">Дата: {{ operation.date }}</p> 

    {% if operation.category %}
    <p class="d-flex justify-content-center">Категория: {{ operation.category.name }}</p> 
    {% else %}
    <p class="d-flex justify-content-center">Категория: нет</p> 
    {% endif %}

    <a class="d-flex justify-content-center" href="{% url 'edit_operation' operation.pk %}">Изменить</a>
    <a class="d-flex justify-content-center" href="{% url 'delete_operation' operation.pk %}">Удалить</a>
    <hr>
    </div>
{% endfor %}
{% endblock content %}