{% load static %}
{% load MenuManager %}

<!-- Базовый шаблон -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <!-- Иконка сайта -->
    <link rel="shortcut icon" href="{% static 'MainApp/img/main_icon.png' %}" type="image/png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Ссылки на кастомные css файлы -->
    <link rel="stylesheet" href="{% static 'MainApp/css/MyStyles.css' %}">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    {% block extrahead %}
    {% endblock %}
</head>

<body>
<!-- Главное меню -->
{% get_menu request 'main_menu' %}

<!-- Вывод всех сообщений -->
{% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            <span class="closebtn">×</span>  
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<section class="px-1">
{% block content %}
{% endblock content %}
</section>

<!-- Скрипт для закрытия сообщений -->
<script src="{% static 'MainApp/js/messages.js' %}"></script>
</body>

</html>