{% load widget_tweaks %}
{% load static %}
{% load main_tags %}

<div class="d-flex justify-content-center">
    <form method="get" action="">
      <div class="row">
        {% for field in filter.form %}
        <div class="col">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class='form-control' type='date' %}
            {{ field.help_text }}
        </div>
        {% endfor %}
        <div class="form-group col">
            <br>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
      </div>
    </form>
  </div>

{% get_cat_type as categories %}
{{ categories|json_script:"categories" }}
<script src="{% static 'MainApp/js/cat-type.js' %}"></script>