{% extends 'MainApp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load main_tags %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="form">
    <h3>{{ h3_text }}</h3>
    <p>{{ text }}</p>
    {% block form_data %}
    {% endblock %}
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div>{{ form.non_field_errors }}</div>

    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% render_field field class='form-control' %}
      <div>{{ field.help_text }}</div>
      <div>{{ field.errors }}</div>
    </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
  </form>
  </div>
</div>

<!-- Скрипты для некоторых форм -->
{% get_cat_type as categories %}
{{ categories|json_script:"categories" }}
<script src="{% static 'MainApp/js/cat-type.js' %}"></script>

{% endblock content %}