{% extends 'MainApp/base.html' %}
{% load static %}

{% block content %}
<div class="container border-dark border rounded-3 mw-100" style="width: 1200px; font-size: 20px;">
    <p>Команда “Тонущий корабль” приветствует Вас на сайте “Веб-менеджер финансов”.</p>
    <p>Эта программа позволит Вам вести учет своих доходов и расходов, планировать ваши расходы, просмотривать статистику.</p>
    <p>Для того, чтобы зарегистрироваться, Вам нужно нажать на выпадающий список “Войти/Зарегистрироваться”.</p>
    <p>Чтобы добавить какую-либо финансовую операцию, Вам нужно перейти на вкладку “Операции” и нажать на первую иконку под заголовком “Операции” и ввести все требуемые данные, после чего эта операция появится в таблице. Если Вы хотите экспортировать свои операции в файл формата .xlsx, то Вам нужно нажать на вторую иконку под заголовком “Операции”. Если Вам нужно отфильтровать таблицу, то нажмите на третью иконку под заголовком “Операции” и ввести данные, по которым будет выполняться фильтрация</p>
    <p>Чтобы посмотреть статистику своих операций, перейдите на вкладку “Статистика”</p>
    <p>Чтобы отредактировать свои данные, нажмите на выпадающий список “Личный кабинет” и выберите опцию “Редактировать данные” и заполните форму.</p>
    <p>Чтобы изменить свой пароль, нажмите на выпадающий список “Личный кабинет” и выберите опцию “Изменить пароль” и заполните форму.</p>
</div>
{% endblock content %}